<div *ngIf="employee">
    <h2>Employee Details</h2>

    <div><span>fullname : </span>{{employee.firstName}} {{employee.lastName}}</div>
    <div>
        <input id="employeeId" type="hidden" [(ngModel)]="employee.employeeId" placeholder="employeeId">
        <label for="firstName">First name: </label>
        <input id="firstName" [(ngModel)]="employee.firstName" placeholder="first name">
      </div>
      <div>
        <label for="lastName">Last name: </label>
        <input id="lastName" [(ngModel)]="employee.lastName" placeholder="last name">
      </div>
      <div>
        <label for="employeeNum">Employee #: </label>
        <input id="employeeNum" [(ngModel)]="employee.employeeNum" placeholder="employee number">
      </div>
    
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="birthDate" [(ngModel)]="employee.birthDate">
        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
        <mat-datepicker #birthDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Employment Date</mat-label>
        <input matInput [matDatepicker]="employmentDate" [(ngModel)]="employee.employmentDate">
        <mat-datepicker-toggle matSuffix [for]="employmentDate"></mat-datepicker-toggle>
        <mat-datepicker #employmentDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Termination Date:</mat-label>
        <input matInput [matDatepicker]="terminationDate" [(ngModel)]="employee.terminationDate">
        <mat-datepicker-toggle matSuffix [for]="terminationDate"></mat-datepicker-toggle>
        <mat-datepicker #terminationDate></mat-datepicker>
      </mat-form-field>
</div>
<button (click)="goBack()">Back</button>
<button (click)="save()">Save</button>

