<h2>Acme Employees</h2>
<div>
    <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
         <div>
            <label for="firstName">First name: </label>
            <input id="firstName" name="firstName" [(ngModel)]="employee.firstName"  required>
          </div>
          <div>
            <label for="lastName">Last name: </label>
            <input id="lastName" name="lastName" [(ngModel)]="employee.lastName" placeholder="last name" required>
          </div>
          <div>
            <label for="employeeNum">Employee #: </label>
            <input id="employeeNum" name="employeeNum" [(ngModel)]="employee.employeeNum" placeholder="employee number" required>
          </div>
         
          <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="birthDate" [(ngModel)]="employee.birthDate">
            <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
            <mat-datepicker #birthDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Employment Date</mat-label>
            <input matInput [matDatepicker]="employmentDate" [(ngModel)]="employee.employmentDate">
            <mat-datepicker-toggle matSuffix [for]="employmentDate"></mat-datepicker-toggle>
            <mat-datepicker #employmentDate></mat-datepicker>
          </mat-form-field>
          <button type="submit">Add new</button>
    </form>
   
</div>
<mat-divider></mat-divider>
<mat-nav-list>
  <mat-list-item *ngFor="let currentEmployee of employees">
    <a routerLink="/detail/{{currentEmployee.employeeId}}">
      {{currentEmployee.employeeId}} {{currentEmployee.firstName}} {{currentEmployee.lastName}}
   </a>
    <mat-action-list>
      <button  mat-icon-button color="primary" aria-label="Remove employee" (click)="delete(currentEmployee)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-action-list>
  </mat-list-item>
</mat-nav-list>
<br/>
